/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*------------------ M Y  C O D E ------------------*/

/*------------------ G L O B A L ------------------*/



a { color: inherit; }

a:hover {
  color: inherit;
  font-style: inherit;
  text-decoration: none;
}




body
{
    background-color: white;
    font-family: arial;

}

.my-nav
{
    background-color: #3D3D3D;
    border-bottom: 1px solid #0c0c0c;

}

.my-container
{
  padding-top: 49px;
  height: 100%;

}




/*------------------- G A M E S ------------------*/


.gamesandmovies-col
{
  text-align: center;
  position: relative;
  background-color: white;
  height: auto;/* was 100% */
  position: relative;
  padding: 100% 0 0;
}

#gameheader{
  text-align:center;
  font-size: 30px;
  padding: 10px;

}

.content-title
{

  color: white;
  position: absolute;
  text-align: center;
  font-size: 21px;
  bottom: 30px;
  border: 1px solid white;
  border-radius: 4px;
  width: 85%;
  left: 0px;
  margin: 20px;
  padding: 10px;
  background-color:rgba(0, 0, 0, 0.3)

}
.content-title:hover
{
  background-color:rgba(0, 0, 0, 0.6)
}

#g1
{
  background: linear-gradient( rgba(0, 0, 0, 0.3),
  rgba(0, 0, 0, 0.3) ),
  url("images/halo.png")
  no-repeat center center;
  background-size: cover;
}

#g2
{
  background: linear-gradient( rgba(0, 0, 0, 0.3),
  rgba(0, 0, 0, 0.3) ),
  url("images/minecraft.jpg")
  no-repeat center center;
  background-size: cover;
}

#g3
{
  background: linear-gradient( rgba(0, 0, 0, 0.3),
  rgba(0, 0, 0, 0.3) ),
  url("images/lastofus.jpg")
  no-repeat center center;
  background-size: cover;
}

#m1
{
  background: linear-gradient( rgba(0, 0, 0, 0.3),
  rgba(0, 0, 0, 0.3) ),
  url("images/The_Wolf_of_Wall_Street.png")
  no-repeat center center;
  background-size: cover;
}

#m2
{
  background: linear-gradient( rgba(0, 0, 0, 0.3),
  rgba(0, 0, 0, 0.3) ),
  url("images/Goodfellas.jpg")
  no-repeat center center;
  background-size: cover;
}

#m3
{
  background: linear-gradient( rgba(0, 0, 0, 0.3),
  rgba(0, 0, 0, 0.3) ),
  url("images/man_from_earth.jpg")
  no-repeat center center;
  background-size: cover;
}

iframe {
  width: 100%;
}


/*------------------ F O O T E R ------------------*/



.footer
{

    background-color: #3D3D3D;
    color: white;
    padding-bottom: 40px;
}

.links
{
  padding-top: 20px;
}



#trademark
{
  top: 40px;
}
#footer-right{
  padding-top: 20px;
}

#trademark{
  padding: 50px;
}
.link-title
{
    font-weight: bold;
    padding-bottom: 10px;
}


/*----------- A D V E N T U R E  T I M E -----------*/


.adventure-timemenu
{
    font-size: 22px;
    padding: 10px;

}
.my-buttons {
  width: 100%;
}
.adventure-time-content {
  background-color: white;
  padding: 50px 30px 30px 30px;
  border-left: 2px solid #EEEEEE;
  border-right: 2px solid #EEEEEE;
}

#name_menu li{
  list-style: none;
}



.btn-secondary {
  background-color: #3d3d3d;
}

.adventure-time-title-image {
  float: top;

}

.AT-character-title-image {
  float: right;
}

.adventure-time-title {
  font-size: 35px;
}



.adventure-time-title::first-letter {
  font-size: 150%;

}

.adventure-time-title-capital {
  font-size: 200% ;
}

/*---------------------- G O O G L E ---------------------*/

.google-container {

}
#sub-title {
  padding-top: 45px;
  font-size: 17px;

}
.google-divider{
  border-left: 2px solid #f1f1f1;
}

#as-title-box {
  border-bottom: 1px solid #f1f1f1;
  padding-left: 30px;
  padding-top: 25px;
  padding-bottom: 25px;

}


#advanced-search {
  font-size: 21px;
  color: #d93025;
}

.as-col-l {
  padding-left: 45px;
  font-size: 13px;
}
 #find-pages-with {
   padding-left: 30px;
   margin-bottom: 18px;
 }
.as-col-r {

}

.label {
  padding-top: 8px;

}

#as-title::first-letter {
  font-size: 100%;
}
#google-container {
  padding-top: inherit;

}




#as-logo {
  width: 90px;
  height: auto;
  margin-top: 17px;
  margin-bottom: 12px;

}

#as-header {
  background-color: #f1f1f1;
}
.google-nav:hover {
  border-bottom: 2px solid lightgrey;
}

.google-link {
  float: right;
}

#google-nav {
  background-color: white;
  border: none;
}

.as-box {
  margin-bottom: 14px;
  width: 100%;
  height: 100%;
  border: 1px solid lightgrey;
  text-align: center;

}

.padding-remover {
  padding: 0px;
}
#as-button {
    user-select: none;
    line-height: 100%;
    height: 30px;
    min-width: 120px;
    background-color: #357ae8;
    border: 1px solid #3079ed;
    border-image: initial;
    font-size: 11px;
    color: white;
    font-weight: bold;
    border-radius: 2px;
    margin-right: 0px;
    margin-left: auto;

}
#as-button:hover {
  border: 1px solid #2f5bb7;
  background-image: -webkit-linear-gradient(top,#4d90fe,#357ae8);
  background-color: #357ae8;

}


.as-box-label {
  height: 30px;


}
.label-rows {
  height: 25px;
  margin-bottom: 18px;
}

.as-box-container {
  height: 30px;
  margin-bottom: 13px;

}

.search-box {
  padding: 5px 100px 5px 100px;
  width: 100%;
  height: 45px;
  border-radius: 30px;
  border: 1px solid lightgrey;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.search-box:hover {
  box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.1), 2px 2px 5px 0px rgba(0, 0, 0, 0.10);
  border: 0px;
}




.box {
  width: 584px;
  height: 200px;
  margin: 112px auto 50px;
  text-align: center;
}

.submit-button {
  background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  color: #5F6368;
  font-family: arial,sans-serif;

    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.submit-button:hover {
  border: 1px solid lightgrey;
  color: black;
}



.images {color:#4285f4;
  position: relative;
  left: 371px;
  top: 125px;
  width: 50px;
  height: 50px;
}

.google-footer {
  background-color: #f2f2f2;
}




/*------------- R E S P O N S I V N E S S -------------*/

@media (min-width: 768px)
{
  .gamesandmovies-col
  {
    text-align: center;

    background-color: white;

    height: auto;/* was 100% */
    position: relative;
    text-align: center;
    padding:30% 0 0;
  }

}
